*{
    padding: 0;
    margin: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
* body{
 	font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
	background-color: #DCDCDC;
}
.logo{
    text-align: center;
}
.contenedor{
    width: 95%;
    max-width: 1100px;
    margin: auto;

.central{
	text-aling: center;
}

}
header nav{
    background-color: #C0C0C0;
    margin-bottom: 5%;
}
    header nav ul{
        list-style: none;
        overflow: hidden;
    }
        header nav ul li{
            float: left;
        }
            header nav ul li a{
                display: block;
                padding: 30px;
                color: #000000;
		font-size: 17px;
                text-decoration: none;
            }
            header nav ul li a:hover{
                background-color: #808080;
            }
.menu-fixed{
    position: fixed;
    z-index: 1000;
    top: 0;
    width: 100%;
    max-width: 1000px;
    box-shadow: 0px 4px 3px rgba(0,0,0,.5);
}

h1 {
    color: #000000;
    text-align: center;
}
	h2 {
    	  	color: #000000;
    		text-align: left;
	}
		p{
   		 	color: #000000;
        }
    
        #linea{
            COLOR:rgb(255, 255, 255);
            MARGIN-BOTTOM:30PX;
            BORDER-BOTTOM:SOLID 2PX #ff6c52;
            PADDING-BOTTOM:2PX;
           }

.galeria {
    width: 90%;
    margin: auto;
    list-style: none;
    padding: 15px;
    box-sizing: border-box;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
	}
		.galeria li {
    		margin: 1px;
		}
			.galeria img{
   				 width: 220px;
  				 height: 180px;
			}
